<div id="<%= dom_id @booking %>">
  <p>
    <strong>User:</strong>
    <%= booking.user_id %>
  </p>

  <p>
    <strong>Pigeon:</strong>
    <%= booking.pigeon_id %>
  </p>

  <p>
    <strong>Date start:</strong>
    <%= booking.date_start %>
  </p>

  <p>
    <strong>Date end:</strong>
    <%= booking.date_end %>
  </p>

</div>