<div class="container">
    <div class="card-info">
        <h1>Vos réservations</h1>
        <hr>
        <% @bookings.each do |booking| %>
            <div class="affichage mb-5">
                <div class="container__text">
                <h1><%= booking.user.first_name %></h1>
                <h2><%= booking.pigeon.name %></h2>
                
                <div class="container__text__star">
                    <p><%= booking.date_start%></p>
                </div>
                <div class="container__text__star">
                    <p><%= booking.date_end%></p>
                </div>
                <%= button_to "Destroy this booking", @booking, method: :delete %>
                </div>
            </div>
            <hr>
        <% end %>
        <div>
            <%= link_to "Back to pigeons", pigeons_path %>

        </div>

    </div>
</div>