<div class="container">
    <div class="card-info">
        <h1>Vos réservations</h1>
        <hr>

        <% if @bookings.empty? %>
            <h2>Aie..</h2>
            <h4>Vous avez aucune réservation pour le moment</h4>
            <%= link_to "Découvrir nos pigeons", pigeons_path, class: "nav-link mt-4", style: "width: 250px;"%>
        <% else %>
            <% @bookings.each do |booking| %>
                <div class="affichage mb-5">
                    <div class="container__text">
                        <h1><%= booking.user.first_name %></h1>
                        <h2><%= booking.pigeon.name %></h2>
                
                        <p><%= booking.date_start%></p>
                        <p><%= booking.date_end%></p>
                        <%= button_to "Supprimer", booking_path(booking), method: :delete %>
                    </div>
                </div>
                <hr>
            <% end %>
            <%= link_to "Retourner voir les pigeons", pigeons_path, class: "btn btn-light mb-2 mt-2" %>
        <% end %>

    </div>
</div>
