
  <div class="bp-index-container">
    <h1>Votre pigeon coup de coeur</h1>
    <div class="pigeon-details">
      <h2>Name: <%= @pigeon.name %></h2>
      <img src="<%= @pigeon.image_url %>" alt="Pigeon" />
      <p>Description: <%= @pigeon.descriptif %></p>
      <p>Price: <%= @pigeon.price %> €</p>
      <p>Rating: <%= @pigeon.rating %>⭐️</p>
      <p>Color: <%= @pigeon.color %></p>
  </div>
  <%= form_with(model: [@pigeon, @booking], local: true) do |form| %>
    <!-- Other form fields -->

    <div class="field">
      <%= form.label :date_start %>
      <%= form.date_field :date_start, class: "datepicker" %>
    </div>

    <div class="field">
      <%= form.label :date_end %>
      <%= form.date_field :date_end, class: "datepicker mt-1" %>
    </div>

    <div class="actions">
      <%= form.submit "Réserver", class: "btn btn-primary mt-2" %>
    </div>
  <% end %>